* {
    margin: 0px;
    padding: 0px;
}
.header {
    display: flex;
    height: 50px;
    background-color: #27323F;
    padding: 0px 20px 0px 20px;
}
.navbar {
    width: 100%;
    height: 50px;
    display: flex;

}
.navbar > a {
    font-size:.8rem;
    font-family: Verdana;
    text-decoration: none;
    color: #CDCDCD;
    margin: 18px 6px 6px 15px;

}
.header a p{
    width: 85px;
    font-size: 1rem;
    background-color: #0065C6;
    color: #ffffff;
    padding: 0.6rem 1rem;
    
    border-radius: 2px;
}


.header > a {
    margin: 8px 10px 10px 15px;
    text-decoration: none;
}



.box-1 {
    width: 100%;
    height: 500px;
    background: linear-gradient(to right,rgba(0,0,0,1) 35%,rgba(0,0,0,0.7),rgba(0,0,0,0)),url('image/prime video poster.jpg');
}
.box-1-heading {
    color: white;
    font-family: Verdana;
    font-size: 2.5rem;
    padding: 15rem 0rem 0rem 4rem;

}
.box-1-para {
    color: white;
    font-family: Verdana;
    font-size: 1.3rem;
    padding: 0rem 0rem 0rem 4.5rem;
}
.box-1-btn {
    color: white;
    margin-left: 4.5rem;
    padding: .8rem 1.2rem .8rem 1.2rem;
    font-size: 1.2rem;
    background-color: #0065C6;
    border-radius: 0.1rem;
}

.box-2 {
    width: 100%;
    height: 400px;
    background: linear-gradient(to left,rgba(0,0,0,1) 40%,rgba(0,0,0,0.7),rgba(0,0,0,0)),url('image/prime video poster.jpg');

}
.box-2-content {
    float: right;
    margin-top: 3.5rem;
}
.box-2-heading {
    color: white;
    font-family: Verdana;
    font-size: 2.5rem;
    display: block;
    margin: 8rem 2.5rem 0rem 0rem;
}
.box-2-para {
    color: white;
    font-family: Verdana;
    font-size: 1.22rem;

}
.box-2-btn {
    color: white;
    font-size: 1.2rem;
    background-color: #0065C6;
    border-radius: 0.1rem;
    padding: .8rem 2.5rem .8rem 2.5rem;


}

.box-3 {
    display: flex;

}
.box-3-content-left {
    width: 50%;
}
.box-3-heading {

    font-family: Verdana;
    font-size: 2.5rem;
    margin: 4rem 0rem 0rem 3rem;

}
.box-3-para {

    font-family: Verdana;
    font-size: 1.5rem;
    margin: 1.5rem 0rem 0rem 3rem;
    float: right;
}
.box-3-content-right {
    width: 50%;
}
.box-3-content-right-row {
    margin: 4rem 0rem 0rem 4rem;
}

.box-4 {
    width: 100%;
    height: 400px;
    display: flex;
    background-image: radial-gradient( circle at 25% 50%, rgba(0,0,0,.8) ,rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,1));
}
.box-4-image {
    width: 45%;
    padding: 4rem 0rem 0rem 1.5rem;
}
.box-4-content {
    width: 50%;
    margin: 3rem 1.5rem 0rem 0rem;
    text-align: left;
}
.box-4-content-heading {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: Verdana;
    margin: 0rem 3rem 1.2rem 0rem;
}
.box-4-content-para {
    font-size: 1.22rem;
    font-family: Verdana;
    color: #ffffff;

}
.box-4-btn {
    color: white;
    font-size: 1.2rem;
    background-color: #0065C6;
    border-radius: 0.1rem;
    padding: .8rem 2.5rem .8rem 2.5rem;

}

.box-5 {
    width: 100%;
    height: 400px;
    display: flex;
    background-image: radial-gradient( circle at 75% 50%, rgba(0,0,0,.8) ,rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,1));
    v
}
.box-5-content {
    width: 50%;
    margin: 3rem 0rem 0rem 2.5rem;
    text-align: left;
}
.box-5-content-heading {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: Verdana;
    margin: 0rem 0rem 1.2rem 0rem;
}
.box-5-content-para {
    font-size: 1.22rem;
    font-family: Verdana;
    color: #ffffff;

}
.box-5-btn {
    color: white;
    font-size: 1.2rem;
    background-color: #0065C6;
    border-radius: 0.1rem;
    padding: .8rem 2.5rem .8rem 2.5rem;

}
.box-5-image {
    margin: 1rem 2rem 0rem 0rem;
}
.footer {
    height: 100px;
    background-color: #414141;

}
.footer-links {
    text-align: center;

}
.footer > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px 5px 0px;
    

}
.footer-links > a {
    text-decoration: none;
    color: #0065C6;
    margin: 5px;
}
.footer > p {
    text-align: center;
    color: #B1B1B1;
}